n8n/workflows/ai-agent-chat-memory-template.json
{
  "name": "AI Agent Chat Memory (Postgres) 예시",
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "chat-trigger-1",
      "name": "Chat Trigger",
      "type": "n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "당신은 친절한 한국어 AI 어시스턴트입니다. 이전 대화 내용을 기억하고 맥락에 맞게 응답하세요.",
          "returnIntermediateSteps": false
        }
      },
      "id": "ai-agent-1",
      "name": "AI Agent",
      "type": "n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "tableName": "n8n_chat_histories",
        "contextWindowLength": 15
      },
      "id": "pg-chat-memory-1",
      "name": "Postgres Chat Memory",
      "type": "n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [500, 520],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "n8n-pg Chat Memory"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "openai-chat-1",
      "name": "OpenAI Chat Model",
      "type": "n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [300, 520],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "AI Agent",
      "id": "ai-agent-tag"
    },
    {
      "name": "Chat Memory",
      "id": "chat-memory-tag"
    }
  ],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  }
}
